<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositorio de Videos</title>
    <link rel="stylesheet" href="{% static 'User/css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'sign_in' %}">Sign in</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% if user.is_authenticated %}
                <p>{{user.username}}</p>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h1 class="display-1">Welcome</h1>

    <script src="{% static 'User/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'User/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>